.background {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.raccoon {
    width: 460px;
    height: 460px;
    background-color: white;
    border-radius: 50%;
    animation: spin 6s linear infinite;
    overflow: hidden;
}

img {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    object-fit: cover;
    animation: pulse 0.5s ease-in-out infinite;
}

@keyframes spin {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

@keyframes pulse {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.1); }
}